[user]
	name = George Gillams
	email = george.gillams@skyscanner.net
	signingkey = 146DF8B56C3E8D02
[tag]
	forceSignAnnotated = true
[core]
	attributesfile = ~/.gitattributes
	excludesfile = /Users/georgegillams/.gitignore_global
[alias]
	diff-image = "!f() { cd -- \"${GIT_PREFIX:-.}\"; GIT_DIFF_IMAGE_ENABLED=1 git diff \"$@\"; }; f"
[diff "image"]
	command = ~/Documents/git-diff-image/git_diff_image
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/georgegillams/.stCommitMsg
	gpgsign = true
[gpg]
	program = gpg
