/* Show title of unread tabs with red and italic font */

.sidebar {
  background-color: black
}

.tab {
  height: 25px;
  color: #E6E4EB !important;
  background-color: #252033;
  transition: height .2s ease-in-out;
}

.tab.unread .label {
  color: darkorange !important;
  font-weight: bolder;
}

.tab.active {
  background-color: #FFFFFF;
}

.tab .label {
  color: #E6E4EC;
}

.tab.active .label {
  color: #252033;
}

.tab:hover {
  color: white !important;
  background-color: #524C61;
}

.tab.active:hover {
  background-color: #FFFFFF;
}

/* Add private browsing indicator per tab */

.tab.private-browsing .label:before {
  content: " 🕶 ";
}

.tab.private-browsing {
  background-color: red;
}


