#
5 14 * * 5 osascript -e 'tell application "System Events" to key down 63' -e 'tell application "System Events" to key down "n"' -e 'tell application "System Events" to key up "n"' -e 'tell application "System Events" to key up 63'
0 */1 * * * rm -rf ~/tmp
#
