#
# 5 14 * * 5 osascript /Users/george.gillams/Documents/georgegillams/dotfiles/apple\ script/open_notification_center.scpt
# 5 16 * * 5 osascript /Users/george.gillams/Documents/georgegillams/dotfiles/apple\ script/open_notification_center.scpt
# 0 */3 * * * rm -rf ~/tmp
#
