.tab {
  height: 5.2rem;
  margin: -1.2rem 0rem;
  transition: height .2s ease-in-out;
}

.tab:first-of-type {
  margin-top: 0rem;
}

.tab:last-of-type {
  margin-bottom: 0rem;
}

tab-item-substance {
  padding: 1.2rem .8rem;
}

tab-item-substance > span {
  margin: .4rem;
}

tab-item-substance > tab-label {
  max-width: 80%;
}

tab-item-substance > tab-counter {
  right: .8rem;
}

.contextual-identity-marker {
  border-radius: 1rem;
  right: calc(-.4rem + -.3rem) !important;
  width: .6rem !important;
}

.tab.private-browsing .label:before {
  content: " 🕶 ";
}

.tab.private-browsing {
  color: purple !important;
}

#tabbar tab-item tab-item-substance tab-closebox {
  display: none;
}
