<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>19E264b</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>Aerial</string>
	<key>CFBundleIdentifier</key>
	<string>com.JohnCoates.Aerial</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Aerial</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.8.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.8.2</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>11N123k</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>19E234g</string>
	<key>DTSDKName</key>
	<string>macosx10.15</string>
	<key>DTXcode</key>
	<string>1140</string>
	<key>DTXcodeBuild</key>
	<string>11N123k</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSMinimumSystemVersion</key>
	<string>10.12</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Aerial uses location services to calculate Sunset and Sunrise times from your position</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Aerial uses location services to calculate Sunset and Sunrise times from your position</string>
	<key>NSPrincipalClass</key>
	<string>AerialView</string>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/JohnCoates/Aerial/master/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>fbiQGEFq55xl4bjwj2/SpIO4JMsKmEyhHEWlMMueyDY=</string>
</dict>
</plist>
